@charset "UTF-8";

h4 {
    font-size: 20px;
}

.btn-outline-primary {
    color: #009999;
    border-color: #009999;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    padding-top: 20px;
    text-align: center;
    width: 330px;
    height: 430px;
}

.card-img-top {
    max-width: auto !important;
    height: 200px !important;
}

.card-body{
    height: 200px;
}

.card-text {
    max-width: 300px !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    overflow: scroll !important;
}

.card-text::-webkit-scrollbar{
    display:none;
}


.carousel-control-prev{
    color: dimgray;
    margin-left:-200px;
}

.carousel-control-next {
    color: dimgray;
    margin-right: -200px;
}

.carousel-control-prev:hover {
    color: black;
}

.carousel-control-next:hover {
    color: black;
}

.carousel-control-prev:visited {
    color: dimgray;
}

.carousel-control-next:visited {
    color: dimgray;
}

.carousel-control-prev:focus {
    color: black;
}

.carousel-control-next:focus {
    color: black;
}

.listBox{
    width: 400px;
}

.submitSearch {
    width: 100px;
    background-color: #1c87c9;
    color: #ffffff;
    width: 300px;
    height: 300px;
}

.team area {
    width: 90%;
    height: 10px;
}

#imageSub {
    width: 300px;
    height: 300px;
}

#ulhighlight {
    text-align:center;
}

#lihighlight {
    width:250px;
}

.descriptionForm {
    height: 200px;
    width: 190px;
}