@charset "UTF-8";

/*@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");*/

h4 {
    font-size: 20px;
}

.btn-outline-primary {
    color: #009999;
    border-color: #009999;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    padding-top: 20px;
    text-align: center;
    width: 330px;
    height: 430px;
}

.card-img-top {
    max-width: auto !important;
    height: 200px !important;
}

.card-body {
    height: 200px;
}

.card-text {
    max-width: 300px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    overflow: scroll !important;
}

    .card-text::-webkit-scrollbar {
        display: none;
    }


.carousel-control-prev {
    color: dimgray;
    margin-left: -200px;
}

.carousel-control-next {
    color: dimgray;
    margin-right: -200px;
}

.carousel-control-prev:hover {
    color: black;
}

.carousel-control-next:hover {
    color: black;
}

.carousel-control-prev:visited {
    color: dimgray;
}

.carousel-control-next:visited {
    color: dimgray;
}

.carousel-control-prev:focus {
    color: black;
}

.carousel-control-next:focus {
    color: black;
}

.listBox {
    width: 400px;
}

.submitSearch {
    width: 100px;
    background-color: #1c87c9;
    color: #ffffff;
    width: 300px;
    height: 300px;
}

.team area {
    width: 90%;
    height: 10px;
}

#imageSub {
    width: 300px;
    height: 300px;
}

#ulhighlight {
    text-align: center;
}

#lihighlight {
    width: 250px;
}

.descriptionForm {
    height: 200px;
    width: 190px;
}

.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

    .event-list > li {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(51, 51, 51);
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        padding: 0px;
        margin: 0px 0px 20px;
    }

        .event-list > li > time {
            display: inline-block;
            width: 100%;
            color: rgb(255, 255, 255);
            background-color: rgb(197, 44, 102);
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
        }

        .event-list > li:nth-child(even) > time {
            background-color: rgb(165, 82, 167);
        }

        .event-list > li > time > span {
            display: none;
        }

        .event-list > li > time > .day {
            display: block;
            font-size: 56pt;
            font-weight: 100;
            line-height: 1;
        }

        .event-list > li time > .month {
            display: block;
            font-size: 24pt;
            font-weight: 900;
            line-height: 1;
        }

        .event-list > li > img {
            width: 100%;
        }

        .event-list > li > .info {
            padding-top: 5px;
            text-align: center;
        }

            .event-list > li > .info > .title {
                font-size: 17pt;
                font-weight: 700;
                margin: 0px;
            }

            .event-list > li > .info > .desc {
                font-size: 13pt;
                font-weight: 300;
                margin: 0px;
            }

            .event-list > li > .info > ul,
            .event-list > li > .social > ul {
                display: table;
                list-style: none;
                margin: 10px 0px 0px;
                padding: 0px;
                width: 100%;
                text-align: center;
            }

        .event-list > li > .social > ul {
            margin: 0px;
        }

            .event-list > li > .info > ul > li,
            .event-list > li > .social > ul > li {
                display: table-cell;
                cursor: pointer;
                color: rgb(30, 30, 30);
                font-size: 11pt;
                font-weight: 300;
                padding: 3px 0px;
            }

                .event-list > li > .info > ul > li > a {
                    display: block;
                    width: 100%;
                    color: rgb(30, 30, 30);
                    text-decoration: none;
                }

            .event-list > li > .social > ul > li {
                padding: 0px;
            }

                .event-list > li > .social > ul > li > a {
                    padding: 3px 0px;
                }

                .event-list > li > .info > ul > li:hover,
                .event-list > li > .social > ul > li:hover {
                    color: rgb(30, 30, 30);
                    background-color: rgb(200, 200, 200);
                }

.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}

.twitter a {
    color: rgb(79, 213, 248) !important;
}

.google-plus a {
    color: rgb(221, 75, 57) !important;
}

.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}

.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }

        .event-list > li > time,
        .event-list > li > img {
            display: inline-block;
        }

        .event-list > li > time,
        .event-list > li > img {
            width: 120px;
            float: left;
        }

        .event-list > li > .info {
            background-color: rgb(245, 245, 245);
            overflow: hidden;
        }

        .event-list > li > time,
        .event-list > li > img {
            width: 120px;
            height: 120px;
            padding: 0px;
            margin: 0px;
        }

        .event-list > li > .info {
            position: relative;
            height: 120px;
            text-align: left;
            padding-right: 40px;
        }

            .event-list > li > .info > .title,
            .event-list > li > .info > .desc {
                padding: 0px 10px;
            }

            .event-list > li > .info > ul {
                position: absolute;
                left: 0px;
                bottom: 0px;
            }

        .event-list > li > .social {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            width: 40px;
        }

            .event-list > li > .social > ul {
                border-left: 1px solid rgb(230, 230, 230);
            }

                .event-list > li > .social > ul > li {
                    display: block;
                    padding: 0px;
                }

                    .event-list > li > .social > ul > li > a {
                        display: block;
                        width: 40px;
                        padding: 10px 0px 9px;
                    }
}

/*Newsletter*/
newsletter {
    padding: 80px 0;
    background: #19beda;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

    .newsletter .content h2 {
        color: #243c4f;
        margin-bottom: 40px;
    }

    .newsletter .content .form-control {
        height: 50px;
        border-color: #ffffff;
        border-radius: 0;
    }

        .newsletter .content.form-control:focus {
            box-shadow: none;
            border: 2px solid #243c4f;
        }

    .newsletter .content .btn {
        min-height: 50px;
        border-radius: 0;
        background: #243c4f;
        color: #fff;
        font-weight: 600;
    }
