@model List<Projet2.Models.Association>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center">
    <h4>Les associations</h4>
</div>

<div class="container my-4">
    <div id="carouselAssociation" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @{
                string isFirst = "active";
                int i = 0;
                while (i < Model.Count)
                {
                    <div class="carousel-item @isFirst">
                        @{
                            isFirst = "";
                        }
                        <div class="d-flex flex-row">
                            @for (int j = 0; j < 4; j++)
                            {
                                @if (i < Model.Count)
                                {
                                    <div class="card align-items-center">
                                        <img class="card-img-top" src="@Model[i].Image">
                                        <div class="card-body">
                                            <h4 class="card-title">@Model[i].Name</h4>
                                            <p class="card-text">@Model[i].Description</p>
                                            <a class="btn btn-primary" href="../Association/Profil?id=@Model[i].Id">Plus de détails</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card align-items-center">
                                        <div class="card-body">
                                            <p class="card-text">D'autres associations à venir</p>
                                        </div>
                                    </div>
                                }
                                i++;
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAssociation" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAssociation" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
