
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchBar</title>
</head>
<body>
    <form> 
        <input type="text" id="searchbar" placeholder="Lancer votre recherche">
        <input type="submit" name="submit" class="submitSearch" value="Recherche">
    </form>
</body>
</html>
