@model Projet2.ViewModels.AssociationInfoViewModel

@{
    ViewBag.title = "Liste des associations";
    Layout = "_Layout";
}


@{
    <div class="d-flex justify-content-center w-100">
        @if (@Model.Association.IsPublished)
        {
            <table class="w-25 p-5">
                <tr>
                    <td align="center" colspan="3">
                        <img src="@Model.Association.Image" width="200" height="200" />
                    </td>
                </tr>
                @if (Model.Association.TicketService)
                {
                    <tr>
                        <td>
                            <a href="/AssociationEvent/EventList?id=@Model.Association.Id" class="btn btn-primary w-100">Gestion des évènements</a>
                        </td>
                    </tr>
                }
                @if (Model.Association.MemberService)
                {
                    <tr>
                        <td>
                            <a href="/Association/Member?id=@Model.Association.Id" class="btn btn-primary w-100">Gestion de vos adhérents</a>
                        </td>
                    </tr>
                }
                @if (Model.Association.DonationService)
                {
                    <tr>
                        <td>
                            <a href="~/Fundraising/Management?id=@Model.Association.Id" class="btn btn-primary w-100">Gestion de vos collectes de dons</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="btn-group w-100">
                                <button type="button" class="btn btn-primary dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
                                    Vos échanges avec notre équipe
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                     <a href="~/Advice/AskForAdvice?id=@Model.Association.Id" class="dropdown-item">Demander un conseil</a>
                                     <a href="~/Advice/SeeAdvice?id=@Model.Association.Id" class="dropdown-item">Voir vos réponses</a>
                                </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="~/Association/Services?id=@Model.Association.Id" class="btn btn-primary w-100">Nos services</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/Home/Index" class="btn btn-primary w-100">Retour à l'accueil</a>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <table class="w-25 p-5">
                <tr>
                    <td align="center" colspan="3">
                        <img src="@Model.Association.Image" width="200" height="200" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Votre association est en cours de validation par notre équipe. Pensez à fournir vos documents si ce n'est pas encore fait.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/Association/Documents?id=@Model.Association.Id" class="btn btn-primary w-100">Fournir vos Documents</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/Home/Index" class="btn btn-primary w-100">Retour à l'accueil</a>
                    </td>
                </tr>
            </table>
        }
    </div>
}

