@{
    ViewBag.title = "Évènement effacé";
    Layout = "_Layout";
}

<meta http-equiv="refresh" content="3;../EventList">
<p align="center">l'évènnement a été effacé, vous allez être redirigé vers la lise des autres évènements dans quelques secondes...</p>