@model List<Projet2.Models.Association>
@{
    ViewBag.title = "Liste des associations";
    Layout = "_Layout";
}

<!DOCTYPE html>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListeDesAssociations</title>
</head>
<body>
    <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">AssoNow accompagne ces Associations</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        @foreach (var association in Model)
                        {
                            <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0 align-items-center">
                                <img class="card-img-top" src="@association.Image" alt="@association.Name" />
                                <div class="card-body p-4">
                                    <p class="card-text mb-0">@association.Description</p>
                                    <a class="btn btn-primary" href="../AssociationEvent/AssociationManagement?id=@association.Id">Plus de détails</a>
                                </div>
                                    </div>
                                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                        <div class="d-flex align-items-end justify-content-between">
                                            <div class="d-flex align-items-center">Adresse de contact :
          
                                                <div class="small">
                                                    <div class="fw-bold">@association.Mail</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                   </div>
                </div>
    </section>
</body>
</html>