@{
    ViewBag.title = "Représentant";
    Layout = "_Layout";
}

<div class ="d-flex justify-content-center w-100">
    <table class="w-25 p-5">
        <tr>
            <td >
                <a href="../AssociationEvent/EventManagement" class="btn btn-primary w-100">Gestion des évènements de l'association</a>
            </td>
        </tr>
          <tr>
            <td >
                <a href="../Association/Index" class="btn btn-primary w-100">Gestion de l'association</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../Home/Index" class="btn btn-primary w-100">Retour à l'accueil</a>
            </td>
        </tr>
      
    </table>
</div>