@model Projet2.ViewModels.TicketingViewModel
@{
    ViewBag.title = "Annulation des billets";
    Layout = "_Layout";
}

<meta http-equiv="refresh" content="2;/Ticketing/MemberOrderList">
<p align="center">les places ont été annulé, vous allez être redirigé vers votre liste d'achats dans quelques secondes...</p>