@model Projet2.ViewModels.TicketingViewModel
@{
    ViewBag.title = "Annulation des billets";
    Layout = "_Layout";
}

<meta http-equiv="refresh" content="2;/Ticketing/MemberOrderList">
<p align="center">les places ont été annulées, vous allez recevoir votre remboursement d'ici quelques jours.</p>