@{
    ViewBag.title = "Dashboard";
    Layout = "_Layout";
}

<div class ="d-flex justify-content-center w-100">
    <table class="w-25 p-5">
        <tr>
            <td class="py-3">
                <a href="~/AdminDashboard/DemandeInscription" class="btn btn-primary w-100">Gérer les demandes d'inscriptions</a>
            </td>
        </tr>
        <tr>
            <td class="py-3">
                <a href="~/AdminDashboard/HighlightedAssociation" class="btn btn-primary w-100">Gérer les mises en avant</a>
            </td>
        </tr>
        <tr>
            <td class="py-3">
                <a href="~/Home/Index" class="btn btn-primary w-100">Retour à l'acceuil</a>
            </td>
        </tr>
        <tr>
            <td class="py-3">
                <a href="~/Compte/Deconnexion" class="btn btn-primary w-100">Se déconnecter</a>
            </td>
        </tr>
    </table>
</div>