@model Projet2.ViewModels.FundraisingInfoViewModel

@{
    ViewBag.Title = "Création d'une collecte de dons";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start list-group-flush" id="menu">
                    <li class="nav-item">
                        <img src="@ViewBag.Association.Image" class="rounded" width="250" height="200" />
                    </li>
                    @if (ViewBag.Association.IsPublished)
                    {
                        @if (ViewBag.Association.TicketService)
                        {
                            <li class="nav-item list-group-item bg-light w-100">
                                <a href="~/AssociationEvent/EventList?id=@ViewBag.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion des évènements</span>
                                </a>
                            </li>
                        }
                        @if (ViewBag.Association.MemberService)
                        {
                            <li class="nav-item list-group-item bg-light w-100">
                                <a href="~/Association/Member?id=@ViewBag.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion de vos adhérents</span>
                                </a>
                            </li>
                        }
                        @if (ViewBag.Association.DonationService)
                        {
                            <li class="nav-item list-group-item bg-light w-100">
                                <a href="~/Fundraising/Management?id=@ViewBag.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion de vos collectes</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Advice/AskForAdvice?id=@ViewBag.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Demander un conseil</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Advice/SeeAdvice?id=@ViewBag.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Voir nos réponses</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Association/Services?id=@ViewBag.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Nos services</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Association/Profil?id=@ViewBag.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Profil de l'association</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item list-group-item bg-light w-100">
                        <a href="~/Association/Documents?id=@ViewBag.Association.Id" class="nav-link align-middle px-0 border-0">
                            <span class="ms-1 d-none d-sm-inline">Fournir vos documents</span>
                        </a>
                    </li>
                    @if (@ViewBag.Association.IsPublished)
                    {
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Association/Inscrire" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Inscrire une association</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col py-3">
           @await Html.PartialAsync("CreationModificationFundraisingForm", @Model)
        </div>
    </div>
</div>


