@model Projet2.ViewModels.FundraisingManagementViewModel

@{
    ViewBag.title = "Gérer les collectes de dons";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start list-group-flush" id="menu">
                    <li class="nav-item">
                        <img src="@Model.Association.Image" class="rounded" width="250" height="200" />
                    </li>
                    @if (Model.Association.IsPublished)
                    {
                        @if (Model.Association.TicketService)
                        {
                            <li class="nav-item list-group-item bg-warning w-100">
                                <a href="~/AssociationEvent/EventList?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion des évènements</span>
                                </a>
                            </li>
                        }
                        @if (Model.Association.MemberService)
                        {
                            <li class="nav-item list-group-item bg-light w-100">
                                <a href="~/Association/Member?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion de vos adhérents</span>
                                </a>
                            </li>
                        }
                        @if (Model.Association.DonationService)
                        {
                            <li class="nav-item list-group-item bg-warning w-100">
                                <a href="~/Fundraising/Management?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion de vos collectes</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Advice/AskForAdvice?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Demander un conseil</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Advice/SeeAdvice?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Voir nos réponses</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Association/Services?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Nos services</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Association/Profil?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Profil de l'association</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item list-group-item bg-light w-100">
                        <a href="~/Association/Documents?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                            <span class="ms-1 d-none d-sm-inline">Fournir vos documents</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <div class="d-flex flex-column align-items-center w-100">
                <div class="d-flex">
                    <a href="~/Fundraising/Create?id=@Model.Association.Id" class="btn btn-primary">Ajouter une collecte</a>
                </div>
                <div class="d-flex">
                    @{
                        int i = 0;
                        while (i < Model.Fundraisings.Count)
                        {
                            <div class="d-flex flex-row w-100">
                                @for (int j = 0; j < 4; j++)
                                {
                                    @if (i < Model.Fundraisings.Count)
                                    {
                                        <div class="card align-items-center">
                                            <img class="card-img-top" src="@Model.Fundraisings[i].Image">
                                            <div class="card-body">
                                                <b />
                                                <h5 class="card-title">@Model.Fundraisings[i].Name</h5>
                                                <b />
                                                <a class="btn btn-primary" href="~/Fundraising/Modify?id=@Model.Fundraisings[i].Id">Modifier</a>
                                            </div>
                                        </div>
                                    }
                                    i++;
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
