@{
    ViewBag.title = "L'équipede AssoNow";
    Layout = "_Layout";
}

@section Styles{
<link href="/assets/css/TeamAssoNow.css" rel="stylesheet" />
}

<div class="container">
    <div class="row blog">
        <h1>
            <div class="animated fadeInLeft">L'Equipe</div>
            <div class="animated fadeInRight">
                <h1><span style="color: rgb(214, 21, 24)">A</span><span style="text-transform:lowercase">sso</span><span style="color: rgb(27, 148, 255)">N</span><span style="text-transform:lowercase">ow</span>
                </h1>
                </div>
        </h1>
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Antoine BOULKEROUA</h3>
                                        <span class="post">Juriste d'affaires</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Damien PARMENON</h3>
                                        <span class="post">Informaticien Acousticien</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="/FileSystem/Pictures/fatoumata.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Fatoumata KANFANA</h3>
                                        <span class="post">Ingénieure Hydrodynamique</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Yann SENICOURT</h3>
                                        <span class="post">Gestionnaire de paie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

