@{
    ViewBag.title = "Access Denied";
    Layout = "_Layout";
}

<div class = "d-flex flex-column align-items-center">
    <div class = "d-flex">
        <h1>STOP</h1>
    </div>
    <div class = "d-flex">
        <p>Il semblerait que vous essayez d'accéder à une page pour laquelle vous n'avez pas les droits d'accés</p>
    </div>
    <div class = "d-flex">
        <a class="btn btn-primary" href="~/Home/Index">Retourner à l'accueil</a>
    </div>
</div>
