@{
    ViewBag.title = "Compte crée";
    Layout = "_Layout";
}

<meta http-equiv="refresh" content="2;../Compte/Connexion">
<p align="center">Votre compte a été crée, vous allez être redirigé vers la page d'accueil dans quelques secondes...</p>
