@{
    ViewBag.title = "Compte crée";
    Layout = "_Layout";
}

<meta http-equiv="refresh" content="3;../Home/Index">
<p align="center">Votre compte a été crée, vous allez être redirigé vers la page d'acceuil dans quelques secondes...</p>
