@model Projet2.ViewModels.MemberViewModel

@section Styles{
<link href="/assets/css/login.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Connexion";
    Layout = "_Layout";
}

@using (Html.BeginForm())
{

    <div class="container login-container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 login-form-1">
                <h3>Se connecter</h3>
                <br>
                <br>
                @if (!ViewData.ModelState.IsValid)
                {
                    <span class="alert alert-danger">@Html.Label("Pseudo et/ou mot de passe incorrect(s)")</span>
                    <br />
                    <br />
                }

                <div class="form-group">
                    <input type="text" class="form-control" name="Pseudonym" placeholder="Pseudonyme *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" name="Password" class="form-control" placeholder="Mot de passe *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary Submit" value="Se connecter" />
                </div>
           
                <div colspan="3" align="center" class="pt-3">
                    <a href="~/Compte/Creer">Créer un compte</a>
                </div>

            </div>
        </div>
    </div>
}